<html>
  <head>
    <title>Jarrett's Fact Generator</title>
  </head>
  <body style="text-align:center; background-image: url('../assets/theater.jpg'); background-repeat: no-repeat; background-size: cover;">
    <br><br><br><br>
    <h1 style="color:azure;">Welcome to the FACT GENERATOR!!!!!</h1>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p id="new-fact" style="color:black; font-size: xx-large;">This is where the fact goes.</p>
    <br><br><br><br><br><br><br>
    <button id="show-fact">New Fact</button>
  </body>
  <script>
    var factHolder = document.getElementById("new-fact");
    var factButton = document.getElementById("show-fact");

    // Fact List from mental floss amzaing facts https://www.mentalfloss.com/amazingfactgenerator
    var ListFacts = [
                "The swirling blue shades of the Marble Caves in Chile are a reflection of the turquoise lake waters below them. The hues change subtly as sea levels fall and rise.",
                "Queen Elizabeth II technically owns all the dolphins in UK waters.",
                "The most popular Father's Day gift is a necktie.",
                "Spiders recycle webs by eating them.",
                "Ben and Jerry originally wanted to start a bagel company. The partners ended up in the ice cream business because they couldn't afford a bagel machine.",
                "The Starry Night depicts Vincent Van Gogh's view from the Saint Paul-de-Mausole asylum.",
                "A group of ferrets is called a business.",
                "Almonds and peaches are members of the same family.",
                "Newborn elephants suck their trunks for comfort.",
                "According to a Japanese study, looking at cute animal pictures can boost your focus.",
                "On Scooby-Doo, Shaggy's real name is Norville Rogers.",
                "The three dots on the Domino's logo represent the chain's three original locations. Co-founder Tom Monaghan originally planned to add a new dot for every pizzeria he opened.",
                "When feeding, a hummingbird can lick 10 to 15 times per second.",
                "Eighteen percent of Americans claim to have seen or felt the presence of a ghost.",
                "Fire rainbows occur when the ice crystals in a cirrus cloud refract the sun's rays, creating a multi-colored cloud effect.",
                "Wyoming is home to only two escalators.",
                "Forrest Mars, the creator of Peanut M&M's, was allergic to peanuts.",
                "Africa is the only continent with land in all four hemispheres.",
                "Because the speed of Earth's rotation changes over time, a day in the age of dinosaurs was just 23 hours long.",
                "Ornithologists often use Cheetos to study behavior in crows. Along with being easy to spot, they're also one of the birds' favorite snacks.",
                "Humans beings are the only animals confirmed to cry tears in response to emotions.",
                "The temperature at the polar ice caps—which are cold, arid deserts similar to Antarctica—can reach frigid temperatures of -189.67 degrees Fahrenheit.",
                "The metal bit at the end of a pencil that holds the eraser in place is called a ferrule.",
                "Cleopatra had a special lipstick made for her, consisting of a crushed mixture of ants and deep red carmine beetles.",
                "Sometimes it snows on Mars—but the snowflakes are made out of carbon dioxide, not water. The flakes don't fall, but create a fog-like effect.",
                "The record for the longest tire skid was set in 1964 at the Bonneville Salt Flats in Utah.",
                "Foreign Accent Syndrome is a rare side effect of brain trauma. Patients speak their native language in a foreign dialect.",
                "Abraham Lincoln had the opportunity to populate the United States with elephants. He turned the offer down.",
                "Ada Lovelace, the daughter of poet Lord Byron, wrote the first algorithm created specifically for a machine.",
                "J.K. Rowling invented Quidditch in a pub.",
                "Geckos can turn the stickiness of their feet on and off at will.",
                "F. Scott Fitzgerald's full name is Francis Scott Key Fitzgerald. He was named after his distant relative Francis Scott Key, who wrote the words to 'The Star-Spangled Banner.'",
                "Sloths may be the only mammals that don't fart.",
                "Fireworks were ignited over Philadelphia to celebrate the first anniversary of the signing of the Declaration of Independence in 1777.",
                "In Queensland, Australia, it's illegal to own a pet rabbit unless you're a magician.",
                "As astronauts spend months traveling to Mars, their eyeballs may change shape. Some scientists believe that's due to the pressure from fluids that won't drain from their heads thanks to the low-gravity environment.",
                "Juicy Fruit gum, an early version of Cracker Jack, and the Ferris Wheel all made their debuts at the 1893 Chicago World's Fair.",
                "Apollo 17 astronaut Harrison Schmitt was allergic to moon dust.",
                "Trained pigeons can differentiate between the paintings of Pablo Picasso and Claude Monet.",
                "Before he wrote Goosebumps, R.L. Stine wrote the jokes for Bazooka Joe gum wrappers.",
                "The cubicle did not get its name from its shape, but from the Latin “cubiculum” meaning bed chamber.",
                "Mr. Rogers always mentioned out loud that he was feeding his fish because a young blind viewer once asked him to do so. She wanted to know the fish were OK.",
                "LEGO has an underground vault with every set ever made.",
                "The Vatican's bank is the only one in existence that allows ATM users to perform transactions in Latin.",
                "Bela Lugosi was buried in full Dracula costume—cape and all."
              ];

    var factNumber;

    function giveFact(){
      return ListFacts[factNumber];
    }

    factButton.addEventListener("click", function(){
      factNumber = Math.floor(Math.random() * ListFacts.length);
      factHolder.textContent = giveFact();
    });
  </script>
</html>